body {
  display: grid;
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 500px;
  height: 300px;
}

button {
  margin-top: 20px;
}